.day-column {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.subject {
    margin: 5px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

.hour {
    font-weight: bold;
}

@media (max-width: 768px) {
.subject {
    margin: 5px 0;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.hour {
    font-weight: bold;
    margin-right: 10px;
}

    .subject {
        padding: 5px;
        font-size: 12px;
    }

    .hour {
        font-size: 12px;
    }
}